<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>代码库导航</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>
<body>
  <ul>
    <li>
      <h2>常用组件</h2>
      <ul>
        <li>
          底部导航
          <a href="common/component/footer/plain.html">纯 UI</a>
          <a href="common/component/footer/vant.html">Vant ui</a>
          <a href="https://github.com/iamjoel/front-end-codes/blob/master/template/common/component/footer">源码</a>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>