<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>商品列表</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <script src="../../../vendor/rem.js"></script>
  <link rel="stylesheet" href="../../../vendor/reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1 style="font-size: 18px;margin: .2rem 0;">商品列表</h1>
  <ul class="goods-list goods-list--half">
    <li class="media">
      <a href="http://baidu.com">
        <img class="media__img" src="http://via.placeholder.com/200x100" alt=""/>
        <div class="media__text">白鬼夜行抄</div>
      </a>
    </li>
    <li class="media">
      <a href="http://baidu.com">
        <img class="media__img" src="http://via.placeholder.com/200x100" alt=""/>
        <div class="media__text">追忆逝水年华</div>
      </a>
    </li>
    <li class="media">
      <a href="http://baidu.com">
        <img class="media__img" src="http://via.placeholder.com/200x100" alt=""/>
        <div class="media__text">白鬼夜行抄白鬼夜行抄白鬼夜行抄</div>
      </a>
    </li>
  </ul>
</body>
</html>