<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <script src="../../../vendor/rem.js"></script>
  <link rel="stylesheet" href="../../../vendor/reset.css">
  <link rel="stylesheet" href="../../../vendor/style/footer.css">

</head>
<body>
   <footer class="j-footer" style="bottom: 100px">
    <a href="###" class="j-footer__item j-footer__item--active">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="首页">
      <span class="j-footer__item-text">首页</span>
    </a>
    <a href="###" class="j-footer__item">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="购物车">
      <span class="j-footer__item-text">购物车</span>
    </a>
    <a href="###" class="j-footer__item">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="个人中心">
      <span class="j-footer__item-text">个人中心</span>
    </a>
    
  </footer>
  <footer class="j-footer">
    <a href="###" class="j-footer__item j-footer__item--active">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="首页">
      <span class="j-footer__item-text">首页</span>
    </a>
    <a href="###" class="j-footer__item">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="分类">
      <span class="j-footer__item-text">分类</span>
    </a>
    <a href="###" class="j-footer__item">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="购物车">
      <span class="j-footer__item-text">购物车</span>
    </a>
    <a href="###" class="j-footer__item">
      <img  class="j-footer__item-icon" src="http://via.placeholder.com/98x78" alt="个人中心">
      <span class="j-footer__item-text">个人中心</span>
    </a>
    
  </footer>
</body>
</html>