
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://unpkg.com/vant/lib/vant-css/index.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vant/lib/vant.min.js"></script>
</head>
<body>
  <div id="app">
    <van-tabbar v-model="active">
      <van-tabbar-item icon="shop">标签</van-tabbar-item>
      <van-tabbar-item icon="chat" dot>标签</van-tabbar-item>
      <van-tabbar-item icon="records" info="5">标签</van-tabbar-item>
      <van-tabbar-item icon="gold-coin" info="20">标签</van-tabbar-item>
    </van-tabbar>
  </div>
  <script>
  {
    var app = new Vue({
      el: '#app',
      data: {
        active: 0
      }
    })
  }
  </script>
</body>
</html>