@import "../_vars";
.bgc-grey {
  background-color: $background-grey;
}

.bgz-cover {
  -webkit-background-size: cover;
  background-size: cover;
}

.bgz-contain {
  -webkit-background-size: contain;
  background-size: contain;
}

.bgz-100 {
  -webkit-background-size: 100%;
  background-size: 100%;
}