.transform-page .block {
    width: 150px;
    height: 150px;
    background-color: #ff0;
    margin: 20px auto;
}

.transform-page .block:nth-child(even) {
    background-color: #0ff;
}

.transform-page .rotate {
    transform: rotate(20deg);
}

.transform-page .rotate-x {
    transform: rotateX(50deg);
}

.transform-page .rotate-y {
    transform: rotateY(50deg);
}

.transform-page .rotate-z {
    -webkit-transform: rotateZ(50deg);
    transform: rotateZ(50deg);
}

.transform-page .rotate-3d {
    -webkit-transform: rotate3d(1, 2, 3, 45deg);
    transform: rotate3d(1, 2, 3, 45deg);
}

.transform-page .rotate-3d2 {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(60deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(60deg);
}

.transform-page .scale {
    transform: scale(2, 1.5);
}

.transform-page .scale-x {
    transform: scaleX(3);
}

.transform-page .scale-z {
    transform: scaleZ(3);
}

.transform-page .skew {
    transform: skew(10deg);
}

.transform-page .skew-x {
    transform: skewX(10deg);
}

.transform-page .skew-y {
    transform: skewY(10deg);
}

.transform-page .translate {
    transform: translate(250px, 10px);
}

.transform-page .translate-x {
    transform: translateX(300px);
}

.transform-page .translate-z {
    transform: translateZ(1000px);
}

.transform-page .composite {
    transform: translateX(200px) skew(20deg) scale(1.5);
}

.transform-page .transform-cover{
	position: relative;
	z-index: 101;
	transform: translateY(-50px);
}
