#sure-width {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  background-color: #f00;
}
#no-sure-width-flex {
  display: flex;
  justify-content: center;
}

#no-sure-width-position {
  position: relative;
  height: 20px;
}
#no-sure-width-position ul{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#no-sure-width-position ul li{
  display: inline-block;
}
#no-sure-width-1 {
  list-style: none;
  font-size: 0;
  /*
  在较老的safari浏览器需要做这个处理。
  letter-spacing: -4px;根据不同字体字号或许需要做一定的调整 
  word-spacing: -4px;*/
  text-align: center;
}

#no-sure-width-1>li {
  display: inline-block;
  font-size: 12px;
}

#no-sure-width-2 {
  list-style: none;
  position: absolute;
  left: 50%;
  /* 用下面的两个样式 和使用 position: absolute;是等效的。本质上都是让元素的宽度变为所包含元素的宽度 */
  /*float:left;
  position: relative;*/

}

#no-sure-width-2>li {
  float: left;
  position: relative;
  left: -50%;
  /*right: 50%;*/ /*left -50%和right 50% 是等价的*/
  /*将每个分页项向左移动父元素宽度的50%*/
  
}

.page-item {
  background-color: #ddd;
  color: #fff;
  width: 20px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}