<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Media</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../../vendor/reset.css">
  <link rel="stylesheet" href="../../../vendor/style/media.css">
  <style>
   h2 {
    font-size: 20px;
    margin-bottom: 10px;
   }
  </style>
</head>
<body>
  <div class="media-list">
    <div class="media">
      <img class="media__img" src="http://via.placeholder.com/64x64" alt=""/>
      <div class="media__body">
        <h2>Media heading</h2>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <div class="media">
      <img class="media__img" src="http://via.placeholder.com/64x64" alt=""/>
      <div class="media__body">
        <h2>Media heading</h2>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <div class="media">
      <img class="media__img" src="http://via.placeholder.com/64x64" alt=""/>
      <div class="media__body">
        <h2>Media heading</h2>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
  

  <h2>With Border</h2>
  <div class="media-list">
    <div class="media media--border">
      <img class="media__img" src="http://via.placeholder.com/64x64" alt=""/>
      <div class="media__body">
        <h2>Media heading</h2>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <div class="media media--border">
      <img class="media__img" src="http://via.placeholder.com/64x64" alt=""/>
      <div class="media__body">
        <h2>Media heading</h2>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <div class="media media--border">
      <img class="media__img" src="http://via.placeholder.com/64x64" alt=""/>
      <div class="media__body">
        <h2>Media heading</h2>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</body>
</html>