.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}
button.close-btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
